variables: &globals
  NODE_IMAGE: "node:24"

stages:
  - compile
  - deploy

.x-compile: &with-compilation-script
  image: node
  script: &build-script
    - yarn install
    - npm run build
  cache:
    paths:
      - node_modules
    key: $CI_JOB_NAME


.x-when-mr: &when-merge-request
  interruptible: true
  only:
    - merge_requests

.x-when-stable: &when-in-stable
  only:
    - main

.x-when-stable-or-mr: &when-stable-or-merging
  interruptible: true
  only:
    - main
    - merge_requests


check that we can compile the whole thing before merging:
  <<: *with-compilation-script
  <<: *when-merge-request
  stage: compile
  tags:
    - docker

compile:
  <<: *with-compilation-script
  <<: *when-in-stable
  interruptible: true
  stage: compile
  tags:
    - docker


pages:
  interruptible: true
  needs: []
  image: $NODE_IMAGE
  tags:
    - docker
  stage: deploy
  script:
    - yarn install
    - npm run build
    - mv dist public
  cache:
    paths:
      - node_modules
    key: $CI_JOB_NAME
  artifacts:
    paths:
      - public
  except:
    - schedules
  only:
    refs:
      - main
    variables:
      - $CI_SERVER_HOST == "gitlab.com"
